{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %} 

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4-overlay">
        <img src="{{ movie.image }}" class="img-fluid rounded-start" alt="Movie image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">About movie</h5>
          <p class="card-text">{{ movie.description }}</p>
        </div>
      </div>
      <a href="/movies/movies/" class="btn btn-primary">Back to movies</a> 
    </div>
  </div>
{% endblock %}
